@font-face {
  font-family: 'Inconsolata';
  src: url('./fonts/Inconsolata-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
    background-image: url('./assets/images/background-desktop.png');
    color: white;
    background-size: cover;
    font-family: 'Inconsolata', sans-serif;

}

body::before {
    content: '';
    position: fixed;
    z-index: 1;
    inset: 0;
    background-image: url('./assets/images/pattern-lines.svg');
}


.squiggly::before {
    content: '';
    position: fixed;
    z-index: 10;
    inset: 0;
    background-image: url('./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
}

.squiggly::after {
    content: '';
    position: fixed;
    z-index: 10;
    inset: 0;
    background-image: url('./assets/images/pattern-squiggly-line-top.svg');
    background-repeat: no-repeat;
    background-position: top right;
}

body::before,
.squiggly::before,
.squiggly::after {
    pointer-events: none;
}


#logo {
    display: block;
    margin: 30px auto;
    transform: scale(0.7);
}

h1,
p {
    text-align: center;
}

form .info {
    margin-top: -9px;
    display: flex;
    align-items: center;
    align-self: flex-start;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.6)
}

label {
    display: block;
}

form {
    width: 400px;
    height: 420px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 50px;

}

.type {
    width: 394px;
    height: 2rem;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

span {
    display: block
}

#icon-upload {
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2)
}

#dz-previews {
    color: black;
}

.drop-zone {
    width: 345px;
    height: 80px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #c9c9c9;
    border: 2px dashed #c9c9c9;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1)
}

.drop-zone--over {
    border-style: solid;
    border-color: #55a2ff;
}

button {
    color: white;
    display: block;
    width: 400px;
    height: 2.2rem;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    background-color: hsl(7, 71%, 60%);
}


#avatar {
    align-self: flex-start;
    margin-bottom: -6px
}




#remove {
    background: none;
    border: none;
    color: #e74c3c;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}

#remove:hover {
    color: #c0392b;
}


@media only screen and (max-width: 750px) {
    body::before {
        background-size: cover;
        /* stretch pattern-lines.svg */
        background-position: center;
    }

    .squiggly::before {
        background-size: 60% auto;
        /* shrink bottom squiggle */
        background-position: left bottom;
    }

    .squiggly::after {
        background-size: 60% auto;
        /* shrink top squiggle */
        background-position: top right;
    }

    form {
        height: 400px;
    }


    button {
        margin-bottom: 50px;
        flex-shrink: 0;
    }


}




@media only screen and (max-width: 375px) {
    body {
        font-size: 11px;
        background-image: url('./assets/images/background-mobile.png');
        background-size: cover;
    }


    body::before {
        background-size: cover;
        /* stretch pattern-lines.svg */
        background-position: center;
    }

    .squiggly::before {
        background-size: 35% auto;
        /* shrink bottom squiggle */
        background-position: left bottom;
    }

    .squiggly::after {
        background-size: 60% auto;
        /* shrink top squiggle */
        background-position: top right;
    }





    form {
        width: 300px;
        height: 400px;
    }

    .type {
        width: 294px;
    }

    span {
        display: block
    }

    .drop-zone {
        width: 245px;
    }

    button {
        width: 300px;
        margin-bottom: 50px;
        flex-shrink: 0;
    }



}

